.nav {
    padding: 15px 70px;
    height: 70px;
    background-color: #0d6389;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navMain {
    background-color: transparent;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    padding: 25px 25px 25px 30px;
    width: 285px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/images/menu-bg.webp");
    color: #ededed;
}

.button {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.buttonClose {
    align-self: flex-end;
    background-image: url("../../assets/icons/close-icon.svg");
}

.buttonOpen {
    background-image: url("../../assets/icons/menu-icon.svg");
}

.list {
    margin-top: 50px;
    display: grid;
    gap: 35px;
}

.link {
    font-size: 36px;
    font-weight: 500;
}
