.main {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("../assets/images/main-bg.jpg");

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #00000080;
    }
}

.mainWrapper {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 80px;
    color: #ededed;
}

.title {
    font-weight: 500;
    font-size: 84px;
}

.subtitle {
    font-weight: 500;
    font-size: 56px;
}
